@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-bottom: 60px;
    background-color: #190130;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: max-content(200px) 1fr;
}

.titulo-principal {
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
    color: #f8ffff;
    -webkit-text-stroke-width: 1px; /* espessura do contorno */
    -webkit-text-stroke-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  }
  
.card-series {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #070014;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(161, 161, 161, 0.2);
}

.search-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search-container input, .search-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input{
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}

.search-container input:focus{
    border-color: #fff;
}

.search-container button{
    background-color:#ab49cc;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.search-container button:hover {
    background-color: transparent;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#result{
    color: #fff;
}

.botao-escolha {
    margin: 10px auto 0 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.container-opcoes {
    margin: 0 auto 0 0;
}

.container-opcoes select {
    background-color: transparent;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    border-radius: 10px;
    padding: 5px;
    width: 178px;
    height: 40px;
}

option {
    background-color: #070014;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    border-radius: 10px;
    padding: 5px;
    width: 178px;
    height: 80px;
}

.escolher {
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
    padding: 0px 10px;
    background-color: #ab49cc;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    width: 150px;
    height: 40px;
}

.escolher:hover {
    background-color: transparent;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
    
.info{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 1.2em;
}

.poster{
    width: 100%;
}
/* titulo da serie */
h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
}

/* avaliaçao das series */
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6em 0 0.9em 0;
}

.rating img{
    width: 1.2em;
}

.rating h4{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details{
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6em 0;
    font-weight: 300;
}

.genre{
    display: flex;
    justify-content: space-around;
}

.genre div{
    border: 1px solid #ab49cc;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

h3{
    font-weight: 500;
    margin-top: 1.2em;
}

p {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

.msg{
    text-align: center;
}

.tables {
    display: flex;
    flex-direction: column; 
    gap: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

/*tabela*/
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
th, td {
    border: 2px solid #202020;
    padding: 8px;
    text-align: left;
    /* texto tabela */
    color: #ffffff;
  }
  
th {
    background-color:#ab49cc;
}

tr {
    background-color: #8300af   ;
}

.titulo-tabela {
    color: white;
    border: 2px solid #000000;  
    background-color: #7b02a3;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal table {
    width: 80%;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
}

.modal span.close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.tables button {
    background-color: #ab49cc;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
}

.tables button:hover {
    background-color: transparent;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.poster-thumbnail {
    max-width: 150px; 
    max-height: 175px; 
}

.modal {
    max-height: auto; 
    overflow-y: auto;
}

.filme-pesquisado {
    color: white;
}

button.excluir {
    background-color: #1a0431;
    border-radius: 10px;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    width: 90px;
}

/* Adicione um estilo de hover para destacar o botão quando o mouse passa por cima */
button.excluir:hover {
    background-color: #cf3fff;
    transition: 0.3s ease-in-out;
    border: 1px solid #1a0431;
}

.page {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 60%;
    height: 120vh;
    margin: -1% 0 0 5%;
}

.formLogin {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #A9CFD4;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    width: 40%;
    height: 53%;
}

.formLogin h1 {
    font-size: 30px;
    text-align: center;
    margin: -10px 0 20px 0;
}

.formLogin .dados {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
    margin: -10px 0 0 0;
}

.formLogin .btn {
    color: white;
    background-color: #23073F;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 0;
}

.formLogin .btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #23073F;
    transition: 0.3s ease-in-out;
    border-color: #23073F;
}

p {
    color: black;
    font-size: 14px;
    margin: 20px 0 -10px 0;
}

p a {
    color: #23073F;
    text-decoration: none;
    margin: 0;
}

p a:hover {
    text-decoration: underline;
}

.formCadastro {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #A9CFD4;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    width: 20%;
    height: 60%;
}

.formCadastro h1 {
    font-size: 30px;
    text-align: center;
    margin: -10px 0 20px 0;
}

.formCadastro .dados {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
    margin: -10px 0 0 0;
}

.formCadastro .btn {
    color: white;
    background-color: #23073F;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 0;
}

.formCadastro .btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #23073F;
    transition: 0.3s ease-in-out;
    border-color: #23073F;
}

.logo img {
    width: 500px;
    height: 500px;
    margin: -90% 0 0 95%;
}

.page2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 150%;
    height: 120vh;
    margin: -4% 0 0 -25%;
}